[Unit]
Description = GlassFish Server v4
After = syslog.target network.target

[Service]
ExecStart = /usr/lib/jvm/java-8-jdk/bin/java -jar /opt/glassfish4/glassfish/lib/client/appserver-cli.jar start-domain
ExecStop = /usr/lib/jvm/java-8-jdk/bin/java -jar /opt/glassfish4/glassfish/lib/client/appserver-cli.jar stop-domain
ExecReload = /usr/lib/jvm/java-8-jdk/bin/java -jar /opt/glassfish4/glassfish/lib/client/appserver-cli.jar restart-domain
Type = forking

[Install]
WantedBy = multi-user.target
